# **Python Programming For Beginners**

#### **Hello World**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World.\nI love Python')

Hello World.
I love Python

#### **Variables in Python**

In [ ]:
name = 'Boom'
age = 18
print('His name is',name)
print('He is',age,'years old.')

His name is Boom
He is 18 years old.

#### **Strings in Python**

In [ ]:
name = 'Boom'
print(name[0])

B

In [ ]:
name = 'Boom'
print(len(name))

4

In [ ]:
name = 'Boom'
print(name.index('m'))

3

In [ ]:
name = 'Boom'
print(name.replace('m', 'B'))

BooB

In [ ]:
name = 'Boom'
print(name.upper())

name = 'Boom'
print(name.lower())

BOOM
boom

In [ ]:
name = 'Boom'
print(name.isupper())

name = 'BOOM'
print(name.isupper())

name = 'Boom'
print(name.islower())

name = 'boom'
print(name.islower())

False
True
False
True

#### **Numbers in Python**

In [ ]:
a = 23
b = 45
c = 5.5
d = 9

sum = (a+c)
print("Sum of a & c :",sum)

sub = (b-c)
print("Sub of b & c :",sub)

mul = (d*c)
print("Mul of d & c :",mul)

div =(b/d)
print("Div of b & d :",div)

rem = (a%d)
print("Remainder of a & d :",rem)

Sum of a & c : 28.5
Sub of b & c : 39.5
Mul of d & c : 49.5
Div of b & d : 5.0
Remainder of a & d : 5

In [ ]:
num = -25
print(abs(num))

25

In [ ]:
num = (1,4,24,56,3,5,6)
print(max(num))

num = (1,4,24,56,3,5,6)
print(min(num))

56
1

In [ ]:
num1 = 123.45
print(round(num1))

num2 = 123.55
print(round(num2))

123
124

In [ ]:
a = 4
b = 5

print(pow(a,b))

1024

In [ ]:
num = 256

Binary = bin(num)
print("Binary of ",num, "is :",Binary)

Octal = oct(num)
print("Octal of ",num, "is :",Octal)

Hexa = hex(num)
print("Hexa of ",num, "is :",Hexa)

Binary of  256 is : 0b100000000
Octal of  256 is : 0o400
Hexa of  256 is : 0x100

In [ ]:
from math import *

a = 144
b = 12.5

print('Square root of',a,'is :',sqrt(a))

print('Ceiling value of',b,'is :',ceil(b))

print('Floor value of',b,'is :',floor(b))

print('Value of Pi','is :',pi)

print('Value of e','is :',e)

Square root of 144 is : 12.0
Ceiling value of 12.5 is : 13
Floor value of 12.5 is : 12
Value of Pi is : 3.141592653589793
Value of e is : 2.718281828459045

#### **Getting User Input**

In [ ]:
name = str(input('Your name? '))
age = int(input('Your age? '))

print('Your name is',name, '\nAnd your age is',age)

Your name? Tommy
Your age? 18
Your name is Tommy
And your age is 18

#### **Word Replacement**

In [ ]:
sentence = input("Enter your text: ")
print("Your text is : ",sentence)
word1 = input("Enter the word to replace : ")
word2 = input("Enter the new word : ")
print("After replacement :",sentence.replace(word1, word2))

Enter your text: Hello good people. Python is fun.
Your text is :  Hello good people. Python is fun.
Enter the word to replace : people
Enter the new word : peeps
After replacement : Hello good peeps. Python is fun.

#### **List In Python**

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(Number[2])

Two

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(len(Number))

7

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(Number[3][0])

T

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(Number[2:])

['Two', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(Number[2:5])

['Two', 'Three', 'Four']

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(Number[-2])

Five

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(type(Number))

<class 'list'>

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']
print(type(Number[0]))

<class 'str'>

In [ ]:
Number = list(('Zero','One','Two','Three','Four','Five','Six'))
print(Number[2])

Two

In [ ]:
Number = list(('Zero','One','Two','Three','Four','Five','Six'))
print(type(Number))

<class 'list'>

In [ ]:
Number = ['One', 1, True, 1.1, 1j]
print(type(Number[0]))
print(type(Number[1]))
print(type(Number[2]))
print(type(Number[3]))
print(type(Number[4]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

#### **List Methods**

In [ ]:
Number1 = [0, 1, 2, 3, 4, 5, 6]
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
Number1.extend(Number2)
print(Number1)
print(Number2)

[0, 1, 2, 3, 4, 5, 6, 'Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six']
['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
Number2.append('Seven')
print(Number2)

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven']

In [ ]:
Number2 = ['Zero','Two','Three','Four','Five','Six']
Number2.insert(1,'One')
print(Number2)

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number2 = ['Zero','One', 'One', 'Two','Three','Four','Five','Six']
Number2.remove('One')
print(Number2)

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number2 = ['Zero','One', 'One', 'Two','Three','Four','Five','Six']
Number2.clear()
print(Number2)

[]

In [ ]:
Number2 = ['Zero','One', 'Two','Three','Four','Five','Six']
print(Number2.index('One'))

1

In [ ]:
Number2 = ['Zero','One', 'One', 'Two','Three','Four','Five','Six']
print(Number2.count('One'))

2

In [ ]:
Number = [1, 4, 6, 3, 7, 8, 2]
Number.sort()
print(Number)

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
Number2 = ['Zero','One', 'Two','Three','Four','Five','Six']
Number2.reverse()
print(Number2)

['Six', 'Five', 'Four', 'Three', 'Two', 'One', 'Zero']

In [ ]:
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
Number3 = Number2.copy()
print(Number3)

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
Number2.pop()
print(Number2)

['Zero', 'One', 'Two', 'Three', 'Four', 'Five']

In [ ]:
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
Number2.pop(2)
print(Number2)

['Zero', 'One', 'Three', 'Four', 'Five', 'Six']

In [ ]:
Number2 = ['Zero','One','Two','Three','Four','Five','Six']
del Number2[0]
print(Number2)

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

#### **Tuples in Python**

In [ ]:
Number = ('One', 1, True, 1.1, 1j)
print(type(Number))

print(type(Number[0]))
print(type(Number[1]))
print(type(Number[2]))
print(type(Number[3]))
print(type(Number[4]))

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

In [ ]:
Number = ('One', 1, True, 1.1, 1j)
print(len(Number))

5

#### **Functions in Python**

In [ ]:
def function():
  print('Hello Python Lover')
function()

Hello Python Lover

In [ ]:
def function(n,a):
  print('My name is',n,'. I\'m',a,'years old.')

name = input('Enter your name : ')
age = int(input('Enter your age : '))

function(name,age)

Enter your name : Rick
Enter your age : 18
My name is Rick . I'm 18 years old.

#### **Return Keyword in Python**

In [ ]:
def add(num1,num2):
  return num1+num2

num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))

print('Addition of',num1,'and',num2,'is',add(num1,num2))

Enter first number : 45
Enter second number : 40
Addition of 45 and 40 is 85

#### **Conditional Statements in Python**

In [ ]:
a = 5
b = 7

if a>b:
  print('a is greater than b')
elif a<b:
  print('a is smaller than b')
else:
  print('a is equal to b')

a is smaller than b

In [ ]:
Number = ['One', 1, True, 1.1, 1j]

val = Number[3]

if type(val) == int:
  print(val,'is an Integer')
elif type(val) == str:
  print(val,'is a String')
elif type(val) == bool:
  print(val,'is a Boolean')
elif type(val) == list:
  print(val,'is a List')
elif type(val) == tuple:
  print(val,'is a Tuple')
elif type(val) == float:
  print(val,'is a Float')
elif type(val) == complex:
  print(val,'is a Complex')
else:
  print('Oops! What the hell was that!')

1.1 is a Float

#### **Even Odd Checker Program**

In [ ]:
num = int(input('Enter a number to check : '))

if num%2 == 0:
  print('It is an Even number')
else:
  print('It is an Odd number')

Enter a number to check : 69
It is an Odd number

#### **Dictionaries in Python**

In [ ]:
my_dict = {
    'name':'Alex',
    'age':18,
    'nation':'England',
    'school':'8'
}
print(my_dict['name'])

Alex

In [ ]:
my_dict = {
    'name':'Alex',
    'age':'18',
    'nation':'England',
    'school':'8'
}
print(len(my_dict))

4

#### **While Loops in Python**

In [ ]:
i = 1
while i<=5:
  print(i)
  i = i + 1

1
2
3
4
5

#### **For Loops in Python**

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']

for i in Number:
  print(i)

Zero
One
Two
Three
Four
Five
Six

In [ ]:
Number = ['Zero','One','Two','Three','Four','Five','Six']

for i in Number:
  print(i)
  if i == 'Four':
    break

Zero
One
Two
Three
Four

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5,10):
  print(i)
else:
  print('End of looping!')

5
6
7
8
9
End of looping!

#### **2D List in Python**

In [ ]:
my_list = [
           [1,2,3],
           [4,5,6],
           [7,8,9]
]
print(my_list[0][2])

3

In [ ]:
my_list = [
           [1,2,3],
           [4,5,6],
           [7,8,9]
]
for col in my_list:
  for row in col:
    print(row)

1
2
3
4
5
6
7
8
9

#### **Comments in Python**

In [ ]:
#Single line Comment
print('Look up there! Single comment')

Look up there!

In [ ]:
'''
Multiple
Line
Comments
'''
print('Look up there! Multiple comments')

Look up there! Multiple comments

#### **Building a Basic Calculator**

In [ ]:
num1 = int(input('Enter first no : '))
op = input('Enter operator : ')
num2 = int(input('Enter second no : '))


if op == '+':
  print('The addition is : ',num1+num2)
elif op == '-':
  print('The subtraction is : ',num1-num2)
elif op == '*':
  print('The multiplication is : ',num1*num2)
elif op == '/':
  print('The division is : ', abs(num1/num2))
else:
  print('Invalid Operator')

Enter first no : 45
Enter operator : /
Enter second no : 6
The division is :  7.5

#### **Try Except in Python**

In [ ]:
try:
  a = int(input('Enter an Integer : '))
  print('You have entered :',a)
except:
  print('Oopss! Something went wrong!')

Enter an Integer : 58
You have entered : 58

In [ ]:
try:
  a = int(input('Enter an Integer : '))
  print('You have entered :',a)
except:
  print('Oopss! Something went wrong!')
else:
  print('You have entered correctly.')

Enter an Integer : 56
You have entered : 56
You have entered correctly.

In [ ]:
try:
  a = int(input('Enter an Integer : '))
  print('You have entered :',a)
except:
  print('Oopss! Something went wrong!')
else:
  print('You have entered correctly.')
finally:
  print('Code compilation completed!')

Enter an Integer : 54
You have entered : 54
You have entered correctly.
Code compilation completed!

#### **Reading Files in Python**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Example1.txt to Example1.txt

In [ ]:
with open('Example1.txt', "r") as file1:
    FileContent = file1.read()
    print(file1.readable())
file1.close()

True

In [ ]:
with open('Example1.txt', "r") as file1:
    FileContent = file1.read()
    print(FileContent)
file1.close()

Hello
World
I
love
Python

In [ ]:
for word in uploaded.keys():
  uploaded[word].splitlines()

with open('Example1.txt', "r") as file1:
    FileContent = file1.readlines()
print(FileContent[4])
file1.close()

Python

#### **Writing Files in Python**

In [ ]:
with open('Example1.txt', "w") as file1:
    file1.write('Hello Python Programmer Line 1\n')
    file1.write('Hello Python Programmer Line 2\n')

with open('Example1.txt', "r") as file1:
    print(file1.read())

Hello Python Programmer Line 1
Hello Python Programmer Line 2

#### **Append New line in Python**

In [ ]:
with open('Example1.txt', "a") as file1:
  file1.write('Hello Python Programmer Line 3\n')

with open('Example1.txt', "r") as file1:
    print(file1.read())

Hello Python Programmer Line 1
Hello Python Programmer Line 2
Hello Python Programmer Line 3

#### **Copy Files in Python**

In [ ]:
with open('Example1.txt','r') as readfile:
    with open('Example2.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

with open('Example2.txt','r') as testwritefile:
    print(testwritefile.read())

Hello Python Programmer Line 1
Hello Python Programmer Line 2
Hello Python Programmer Line 3

#### **Classes and Objects in Python**

In [ ]:
class MyClass:
  a = 7
  
p = MyClass()
print(p.a)

7

In [ ]:
class Boy:
  def __init__(self,name,age):
      self.name = n
      self.age = a

n = input('Enter your name :')
a = input('Enter your age :')

p = Boy(n,a)
print(p.name)
print(p.age)

Enter your name :Mill
Enter your age :18
Mill
18

In [ ]:
class Boy:
  def __init__(self,name,age):
      self.name = n
      self.age = a
      pass

p = Boy('Mill', 18)
del p.age

print(p.name)

Mill

#### **Inheritance in Python**

In [ ]:
class Student():
  name = 'Alex'
  age = 18
  gender = 'Male'

In [ ]:
class Person(Student):
  pass
p = Person()
print(p.name,p.age,p.gender)

Alex 18 Male

#### **Building a Login System**

In [ ]:
username = input('Enter Username :')
password = input('Enter Password :')

print('Account has been successfully created')
print('Login now!')

username2 = input('Enter Username :')
password2 = input('Enter Password :')

if username == username2 and password == password2:
  print('Logged in Successfully')
else:
  print('Invalid Credentials!')

Enter Username :John.cena
Enter Password :John12345
Account has been successfully created
Login now!
Enter Username :John.cena
Enter Password :John12345
Logged in Successfully